name: "Code Testing"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  python-unit-tests:
    name: Test Python Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Poetry
        shell: bash
        run: |
          pipx install poetry

      - name: Install Python 3.12 with Poetry Cache
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "poetry"

      - name: Install Poetry Dependencies
        shell: bash
        run: |
          poetry install

      - name: Run Unit Tests
        run: poetry run pytest --cov=github_stats_analyser --cov-report=xml --color=yes

      - name: Ls
        run: ls -a

      - name: Override Coverage Source Path for Sonar
        run: sed -i "s/<source>\/home\/runner\/work\/github-stats\/github-stats\/<\/source>/<source>\/github\/workspace\/lambdas<\/source>/g" /home/runner/work/github-stats/github-stats\/coverage_report.xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
