name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy-github-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Directories
        run: |
          mkdir -p github-pages
          mkdir -p _site

      - name: Install Poetry
        run: pipx install poetry

      - name: Install Python 3.12 with Poetry Cache
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "poetry"

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Install Poetry Dependencies
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: just analyser::install

      - name: Generate GitHub Pages
        run: just analyser::run

      - name: Copy generated files to github pages folder
        run: cp -r analyser/application/generated_markdown/ github-pages

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./github-pages
          destination: ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
