name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy-github-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Static Site
        run: mkdir -p _site && cp index.html _site/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
